.cellWrapper {
  display: inline-block;
  border: solid 1px black;
  background-color: orchid;
  font-weight: bold;
  font-size: 25pt;
  padding: 15px 20px;
}

.withValue {
  border-radius: 50%;
  border: solid 1px black;
  height: 40px;
  text-align: center;
  width: 40px;
}
